<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>859364003087-3t0rcbeuvttgp0sbdji26cv8nd309l3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.859364003087-3t0rcbeuvttgp0sbdji26cv8nd309l3l</string>
	<key>API_KEY</key>
	<string>AIzaSyClwJRjp19S2PHdsl3WKPFMAwA4lbKHZfw</string>
	<key>GCM_SENDER_ID</key>
	<string>859364003087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cpp.findphone</string>
	<key>PROJECT_ID</key>
	<string>findphone-94d35</string>
	<key>STORAGE_BUCKET</key>
	<string>findphone-94d35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859364003087:ios:e7235a444db729eadf827a</string>
	<key>DATABASE_URL</key>
	<string>https://findphone-94d35.firebaseio.com</string>
</dict>
</plist>